# Игнорировать папку bin и obj
bin/
obj/

# Игнорировать файлы резервных копий
*.bak

# Игнорировать файлы конфигурации
*.config

# Игнорировать папку с пакетами NuGet
packages/

# Игнорировать файлы логов
*.log

.vs